<header>
    <h1 id="header">Eat Bob's Burgers</h1>
    <br>

    <h2 class="sub-header">Delicious and Nutritious</h2>
    <br>
    <div id="bob-pic">
        <img style="width:400px;height:250px;" src="/assets/img/bobwburger.png" alt="bob-with-burger" />
    </div>
</header>


<div class="container">

    <div class="row">
        <h1 class="sub-header">Burgers</h1>
    </div>
    <div class="row">

        <div class="col-md-6" id="not-eaten">
            <h2 class="sub-header">Available Burgers</h2>

            <ul>
                {{#each burger}}
                {{#unless devoured}}
                {{data}}.{{burger_name}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ul>

        </div>
        <div class="col-md-6" id="eaten">

            <h2 class="sub-header">Devoured Burgers!</h2>

            <ul>
                {{#each burger}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>


    <h2 class="sub-header">Add Your Burger</h2>
    <form class="create-form">

        <div class="form-group sub-header">
            <label for="burger-name">Burger Name:</label>
            <input type="text" id="burger-name" name="burger-name">
        </div>

        <div class="form-group">
            <label for="burger-status" class="sub-header">Burger Status</label>
            <br>

            <input type="radio" name="available" value="1" checked class="sub-header"> Available!<br>

            <input type="radio" name="devoured" value="0" class="sub-header"> Devoured!
        </div>

        <button type="submit">Add a Burger</button>
    </form>

</div>