@import url('https://fonts.googleapis.com/css?family=Londrina+Outline');

.card {
    display: inline-flex;
    /* float: left; */
    width: 300px;
}


.container,
div {
    margin: 0 auto;
    border: 1px solid black;
    text-align: center
}

header {
    text-align: center;
    margin: 5px;
}

#header {
    font-family: 'Londrina Outline', cursive;
    font-weight: 900;
    color: red;
    padding: 10px;
    border: 5px solid red;
    max-width: 500px;
    font-size: 70px;
    margin: 0 auto;
}

.em {
    font-style: italic;
}

.sub-header {
    color: red;
    font-family: 'Londrina Outline', cursive;
    margin: 0 auto;
}

ul,
li {
    display: inline-block;
    list-style: none;
}